body {
    background-color:rgb(124, 148, 52);
}

.sidenav {
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(101, 120, 43);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.lk_icons a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.lk_icons a:hover {
    color: #f1f1f1;
}

.lk_icons {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

a:hover {
    color: #f1f1f1;
}

.arrow {
    margin-right: 80%;
    margin-bottom: 5%;
}
.header_icons {
    display:flex;
    margin-bottom: 3%;
    justify-content: center;
    flex-wrap: wrap;
}

.icons_approve {
    display:flex;
    justify-content: center;

}
.logo {
    margin-left:10%;
    margin-bottom:10%;
}

.error{
    color:red;
}

.form_div{
  display: table-row;

}

.div_form {
    display: table-row;
}

.container_form {
    display: table;
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 5px;


}
.form_buttons{
    display:flex;
    justify-content: space-between;
    width:95%;
    position:absolute;
}

.form-field {
    display: table-cell;
	width: 20%;
	vertical-align: top;
	padding: 0;
}
.btn_form {
    position:absolute;
    margin-left: 500px;
}

.table {
  border: 0.5px solid #000000;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #000000;
}
.mypagination {
    display:flex;
    justify-content: center;
    align-items: center
}

.count_rows {
    margin-left: 38%;
    text-align: center;
    margin-top:20%;

}

label {
    font-side:bold;
}

.btn_count{
    margin-top: 3%;
}

.delete {
    color:red;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    padding-left: 0; /* Сдвигаем список влево */
}

.reg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 2px solid black;
    border-radius:10%;
    height: 430px;
    width: 500px;

}

.reg_in {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: center;
}
.btn_reg {
    margin-top: 2%;
}

.text {
    display:none;
}
.title-page {
    margin-bottom: 3%;
    margin-top: 3%;

}
.date_div {
    margin-bottom:1%;
    cursor:pointer;
}

.viza {
    margin-top:3%;
}

.comment_admin {
    width:30%;
}
.go-up,
.go-down {
  display:none;
  position: fixed; /*позиционируем*/
  right: 5px; /*указываем положение, если слева - left*/
  z-index: 9999; /*показываем поверх все элементов на странице*/
  background: rgb(101, 120, 43);
  border: 2px solid black; /*толщина, стиль, цвет рамки*/
  box-shadow: 0 10px 0.3em -0.1em rgba(0,0,6,0.5); /*тень*/
  border-radius: 10px;
  cursor: pointer;
  color: black; /*цвет стрелок*/
  text-align: center; /*выравнивание*/
  font-size: 38px; /*размер стралок*/
  opacity: .7; /*прозрачность*/
  padding: 0 3px 3px 3px; /*отступы внутри*/
  margin-bottom: 5px; /*отступ снизу (можно не указывать)*/
  width: 48px; /*ширина кнопки*/
  height: 60px; /*высота кнопки*/
}
.go-up {
  bottom: 70px; /*положение от низа окна браузера*/
}
.go-down {
  bottom: 10px;
}
/*стили при наведении курсора*/
.go-down:hover,
.go-up:hover {
  opacity: 1;
}