<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
<!--    <meta http-equiv="refresh" content="1">-->
    <title>{% block title %}Главная{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
<!--<a class="nav-link" href="{% url 'home' %}">Главная</a>-->
<!--   {% if user.is_authenticated %}-->
<!--        <a class="nav-link" href="{% url 'logout' %}">Выйти</a>-->
<!--      {% else %}-->
<!--          <a class="nav-link" href="{% url 'login' %}">Войти</a>-->
<!--      {% endif %}-->
<!--{% if user.is_superuser %}-->
<!--          <a class="nav-link" href ="http://localhost:8000/admin/">Админка</a>-->
<!--{% endif %}-->
<div class="container-fluid">
<div class="row">
<div class="sidenav col-md-2 text-center position-sticky">
    <img class="logo" src="https://retail.oaovoentorg.ru/netcat_files/c/logo_retail.png">
    <a class="nav-link"  href="{% url 'private_office' user.id  %}">Главная</a>
    {% if user.is_superuser %}
        <a class="nav-link" href ="http://localhost:8000/admin/">Админка</a>
        <a class="nav-link" href ="{% url 'zayavki_list' %}">Просмотр заявок</a>
    {%else%}
    <a class="text-decoration-none" href="{% url 'count_service' %}">Оформить заявку</a>
    <a href ="{% url 'zayavki_list' %}">Просмотр заявок</a>
    {%endif%}
        {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
    <a href="{% url 'login' %}">Войти</a>
        {% endif %}
</div>
<div class="col-md-10 text-center">
            {% block content %}
            {% endblock content %}
</div>
</div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="{% static 'js/base1.js' %}"></script>-->
<!--    <script src="{% static 'js/my_jss.js' %}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script>
      $(document).ready (function (){
        $('[data-toggle="tooltip"]').tooltip ();
      });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

