{% extends '_base.html' %}
{% load static %}
{% block title %}Подробная информация{% endblock title %}
{%block content%}
{% csrf_token %}
<h1 class = "title-page">Заявка № {{number}}</h1>
<div class = header_icons>
<a class = "arrow" href ="{% url 'zayavki_list' %}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
  <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
</svg></a>
    {% if user.is_superuser%}
        {% if not app.check_status%}
            <div class="icons_approve">
                <a class="change" data-status="approve" data-appid = {{number}} href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
                </a>
             <a class="change" data-status="not_approve" data-appid = {{number}} href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                 <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
             </a>
                </div>
        {%else%}
            <h3>{{status}}</h3>
        {%endif%}
    {%else%}
        <h3>{{status}}</h3>
    {%endif%}
    </div>
<table class="table">
  <thead>
   <tr>
     <th>Заказчик</th>
    <th>Подразделение</th>
    <th>Дата создания</th>
    <th>Объект</th>
    <th>Специалисты</th>
    <th>Кол-во</th>
     <th>Дата исполнения</th>
    <th>Комментарий</th>
     <th>Статус</th>

   </tr>
  </thead>
   <tbody>
     {% for temp in zayavki %}
        <td>{{temp.customer.fio}}</td>
        <td>{{temp.subdivision}}</td>
        <td>{{temp.created}}</td>
        <td>{{temp.facility}}</td>
        <td>{{temp.employee}}</td>
        <td>{{temp.employee_count}}</td>
        <td>{{temp.date_application}}</td>
        <td>{{temp.comment}}</td>
        <td>{{temp.status}}</td>
      </tr>
     {% endfor %}
   </tbody>
   </table>

<script src="{% static 'js/application.js' %}"></script>
{%endblock content%}
