{% extends '_base.html' %}
{% load static %}

{% block title %}Кол-во услуг{% endblock title %}
{%block content%}
<div class="count_rows">
    <form class="div_form" action="" method="post">{% csrf_token %}
        {% if user.is_superuser %}
        <h4>Выберите подразделение:</h4>
            <select name ="sub" class="form-control">
                {%for sub in subdivisions %}
                <option>
                    {{sub}}
                </option>
                {%endfor%}
            </select>
        {%endif%}
        <h4>{{form.count_service.label}}: {{form.count_service}}</h4>
    <input type="submit" class="btn btn-dark btn_count" value="Перейти к оформлению">
    </form>
</div>
{% csrf_token %}
{%endblock content%}
