<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class = "text-center my_center">
    <div class = "text-center max_c">Заявка на услуги</div>
    <div class = "text-center mid_c" >Дата: {{date}}</div>
</div>
<div class="my_info">
    <div class = "mid_c">
        Заказчик: ООО "Военторг-Ритейл"
    </div>
    <div class = "mid_c">
        Подразделение: {{subdivision}}
    </div>
     <div class = "mid_c">
        {{position}} {{fio}}
     </div>
</div>
 <div class="low_c">
    Просим оказать следующие услуги:
 </div>
 <table class="table table-bordered text-center ">
  <thead>
   <tr>
    <th>Номер</th>
    <th>Объект Заказчика</th>
    <th>Дата оказания услуг</th>
    <th>Название услуг</th>
    <th>Количество услуг</th>
    <th>Обоснование заявки</th>
   </tr>
  </thead>
   <tbody>
     {% for temp in data %}
     <tr>
        <td>{{ forloop.counter }} </td>
        <td>{{temp.facility}}</td>
        <td>{{temp.date_application}}</td>
        <td>{{temp.employee}}</td>
        <td>{{temp.employee_count}}</td>
        <td>{{temp.comment}}</td>
      </tr>
     {% endfor %}
    <tr>
        <td colspan="4">Общее кол-во работников: </td>
        <td>{{count_rabotniki}}</td>
     </tr>
   </tbody>
   </table>
 <div class="low_c">{{position}}/______________________ {{fio}} </div>
{%if viza_k is not None%}
    <div class="low_c">{{viza_k.position}}/______________________ {{viza_k.fio}} </div>
{%endif%}
